<%- include ('partials/header.ejs')%>
<%- include ('partials/navbar.ejs')%>
<div class="container">

    <div id="form-pergunta" class="card">
        <div class="card-header">
            <h3>Realizar Pergunta</h3>
        </div>

        <div class="card-body">
            <form method="post" action="/salvarpergunta">
                <label>Título</label>
                <input class="form-control" type="text" placeholder="Título" name="titulo"><br>
                <label>Descrição</label>
                <textarea class="form-control" placeholder="Descreva sua pergunta" name="descricao"></textarea><br>
                <button class="btn btn-primary" type="submit">Perguntar</button>
            </form>
        </div>
    </div>

</div>
<%- include ('partials/footer.ejs')%>